{% extends 'ATMPromotoolsBundle:Promotools:base.html.twig' %}


{% block atm_promotools_content %}
<div class="filterContainer" style="margin: 20px auto;width: 100%;">

    <form action="{{ path('atm_promotools_dump') }}" method="post">
        <br>
        <label>Fields: </label>
        <div class="selectC">
            <select name="slcFields[]">
                <option value="--">Chose a field</option>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="pornstars">Actors</option>
                <option value="tags">Tags</option>
                <option value="creation_date">Publish Date</option>
                <option value="url">URL</option>
            </select>
        </div>
        <div class="selectC">
            <select name="slcFields[]">
                <option value="--">Chose a field</option>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="pornstars">Actors</option>
                <option value="tags">Tags</option>
                <option value="creation_date">Publish Date</option>
                <option value="url">URL</option>
            </select>
        </div>
        <div class="selectC">
            <select name="slcFields[]">
                <option value="--">Chose a field</option>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="pornstars">Actors</option>
                <option value="tags">Tags</option>
                <option value="creation_date">Publish Date</option>
                <option value="url">URL</option>
            </select>
        </div>
        <div class="selectC">
            <select name="slcFields[]">
                <option value="--">Chose a field</option>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="pornstars">Actors</option>
                <option value="tags">Tags</option>
                <option value="creation_date">Publish Date</option>
                <option value="url">URL</option>
            </select>
        </div>
        <div class="selectC">
            <select name="slcFields[]">
                <option value="--">Chose a field</option>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="pornstars">Actors</option>
                <option value="tags">Tags</option>
                <option value="creation_date">Publish Date</option>
                <option value="url">URL</option>
            </select>
        </div>
        <div class="selectC">
            <select name="slcFields[]">
                <option value="--">Chose a field</option>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="pornstars">Actors</option>
                <option value="tags">Tags</option>
                <option value="creation_date">Publish Date</option>
                <option value="url">URL</option>
            </select>
        </div>
        <input type="text" name="separator" style="width: 50px;text-align: center;border-radius: 5px;border:1px solid #cecece;height: 30px;" placeholder=";">
        <input type="submit" class="but blue" value="Submit">
    </form>
    {% if dump is not null %}
        <div style="width: 100%;min-height: 500px;border: 1px solid #cecece;border-radius: 10px;padding: 10px;text-align: left;font-size:12px;margin-top:30px;" contenteditable="true">
            {% for item in dump %}
                {{ item }};<br>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock atm_promotools_content %}