html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html{ height: 100%; }

input:focus, select:focus{outline:0;}
li, ul, ol{list-style-type: none;}
span, p, h1, h2, h3, h4, h5{ cursor: default; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{cursor: pointer;outline: none;text-decoration: none;}
a:focus,a:hover {text-decoration:none;outline:0 none;cursor:pointer}

*, *::after, *::before, *:hover {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.05s ease;
	-moz-transition: all 0.05s ease;
	-o-transition: all 0.05s ease;
	transition: all 0.05s ease;
}

input,label,select,button,textarea{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	font-size:13px;
	font-family:Arial;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

input[type=checkbox],input[type=radio]{width:13px;height:13px;}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;}
textarea {vertical-align:top;overflow:auto;}
::-webkit-search-decoration{display:none;}
button,input[type="reset"],input[type="button"],input[type="submit"]{overflow:visible;width:auto;}
.clear {clear:both}

.content,.thumbnail.big {
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
}

#gr_recaptcha_signup > div { display: inline-block !important;}
#gr_recaptcha_signup iframe{ transform: scale(0.75); !important; display: inline-block}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}